body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #020202;
}

.light-bulb-container {
    cursor: pointer;
}

#lightBulb {
    width: 200px; 
    transition: transform 0.2s ease-in-out;
}